// Global styles
html, body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

a.no-dec {
    text-decoration: none;
}

// Global classes

.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;;
    align-items: center;
}

.flex-center { 
    align-items: center;
    justify-content: center;
}

.no-wrap {
    flex-wrap: nowrap;
}

.space-between {
    justify-content: space-between;
}

.relative {
    position: relative;
}

.inline-block {
    display: inline-block;
}

.bg {
    user-select: none;
}

.relative {
    position: relative;
}

// Icons
.icon-trending {
    width: 2rem;
    height: 2rem;
    background: url('https://burningbucket.s3.us-east-2.amazonaws.com/flame.svg');
}

.icon-camera {
    width: 2rem;
    height: 2rem;
    background: url('https://burningbucket.s3.us-east-2.amazonaws.com/camera.svg');
}

.icon-add {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    background: url('https://burningbucket.s3.us-east-2.amazonaws.com/plus.svg');
}