/*==========================================
 === Media Queries
/==========================================*/

@mixin desktop() {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}

@mixin tablet() {
    @media only screen and (min-width: 1199px) {
        @content;
    }
}

@mixin mobile() {
    @media only screen and (min-width: 767px) {
        @content;
    }
}

/*==========================================
 === Colors
/==========================================*/
@function lighten($color, $percentage) {
    @return scale-color($color, $lightness: $percentage);
}

@function darken($color, $percentage) {
    @return scale-color($color, $lightness: $percentage * -1);
}

/*==========================================
 === Global styles
/==========================================*/

html, body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

a.no-dec {
    text-decoration: none;
}

// Global classes

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-center { 
    align-items: center;
    justify-content: center;
}

.no-wrap {
    flex-wrap: nowrap;
}

.space-between {
    justify-content: space-between;
}

.relative {
    position: relative;
}

.inline-block {
    display: inline-block;
}

.bg {
    user-select: none;
}

.relative {
    position: relative;
}

// Icons
.el-icon {
    
    &.el-icon-sm {
        font-size: 22px;
    }
}
.icon-trending {
    width: 2rem;
    height: 2rem;
    background: url('https://burningbucket.s3.us-east-2.amazonaws.com/flame.svg');
}

.icon-camera {
    width: 2rem;
    height: 2rem;
    background: url('https://burningbucket.s3.us-east-2.amazonaws.com/camera.svg');
}

.icon-add {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    background: url('https://burningbucket.s3.us-east-2.amazonaws.com/plus.svg');
}