@import './variables.scss';

/*==========================================
 === Media Queries
/==========================================*/

@mixin desktop() {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}

@mixin tablet() {
    @media only screen and (max-width: 1199px) {
        @content;
    }
}

@mixin mobile() {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

/*==========================================
 === Colors
/==========================================*/
@function lighten($color, $percentage) {
    @return scale-color($color, $lightness: $percentage);
}

@function darken($color, $percentage) {
    @return scale-color($color, $lightness: $percentage * -1);
}

/*==========================================
 === Global styles
/==========================================*/

html, body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.bordered-heading {
    border-bottom: 2px solid lighten($blue, 40%);
    padding-bottom: .5rem;
    margin-bottom: 1rem;
}

.grey {
    color: lighten($dark-grey, 20%);
}

a.no-dec {
    text-decoration: none;
    color: inherit;
}

// Global classes
.spacer-sm {
    margin: 1rem 0;
}

.spacer-md {
    margin: 2rem 0;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-center { 
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.no-wrap {
    flex-wrap: nowrap;
}

.space-between {
    justify-content: space-between;
}

.relative {
    position: relative;
}

.inline-block {
    display: inline-block;
}

.bg {
    user-select: none;
}

.relative {
    position: relative;
}

.text-center {
    text-align: center;;
}

.pull-right {
    float: right;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; 
}

// Icons
.el-icon {
    
    &.el-icon-sm {
        font-size: 22px;
    }
}
.icon-trending {
    width: 2rem;
    height: 2rem;
    background: url('https://burningbucket.s3.us-east-2.amazonaws.com/flame.svg');
}

.icon-camera {
    width: 2rem;
    height: 2rem;
    background: url('https://burningbucket.s3.us-east-2.amazonaws.com/camera.svg');
}

.icon-add {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    background: url('https://burningbucket.s3.us-east-2.amazonaws.com/plus.svg');
}